In [4]:
x=100
print(type(x))

<class 'int'>

In [40]:
x=[1,2,3,5,'ash','kai']
print(type(x))

<class 'list'>

In [18]:
x= {1,2,3}
print(type(x))

<class 'set'>

In [19]:
x= 'ash', 'sai','viky', 'rosan'
print(type(x))

<class 'tuple'>

In [23]:
x= ("ash:1", "viky: 2", "sai:3","rosan: 4")
print(type(x))

<class 'tuple'>

In [24]:
x= 1+10
print(x)

11

In [25]:
x=1-9
print(x)

-8

In [26]:
x= 2%5
print(x)

2

In [28]:
x= 38*2
print(x)

76

In [31]:
x= 3//5
print(x)

0

In [33]:
#name of variables
_ash=1
print(_ash)

1

In [35]:
x = "alavuudeen"
print(len(x))

10

In [39]:
x = "alavudeen"
print(x[1:])

lavudeen